<ion-view view-title="List of Holidays">
    <ion-content ng-controller="HolidaysCtrl">
    <!-----Holiday list----->
        <ion-list >
            <ion-item class="item item-checkbox item-icon-right" ng-repeat="holiday in holidays track by $index">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="{{holiday.checked}}" ng-click="setChecker($index)"/>
                </label>
                {{holiday.text}}
                <a class="button button-icon icon icon-right ion-close-circled assertive" ng-click="removeHoliday(holiday)"></a>
            </ion-item>
        </ion-list>
    <!-----Add a new holiday to the list----->
        <form ng-submit="addHoliday()">
            <label class="item item-input">
                <input ng-model="newHoliday" type="text" placeholder="Enter a holiday here"/>
            </label>
            <button class="button button-block button-positive" type="submit">ADD HOLIDAY</button>
        </form>
    </ion-content>  
</ion-view>